# IntelliJ IDEA project config
.idea/
*.iws
*.ipr
*.iml

# Maven
target/
.mvn
*/src/gen/java

# lombok
.factorypath

# app
state/
/videos-retrieval-service-server/HELP.md
/videos-retrieval-service-server/mvnw
/videos-retrieval-service-server/mvnw.cmd
